$header-height: 5rem;
$footer-height: 6rem;
$edge-padding: 1.5rem;
$max-content-width: 650px;

$breakpoints: (
  "small": 30em,
  "medium": 45em,
  "large": 60em,
);

@font-face {
  font-family: "Mononoki";
  src: url("../resources/fonts/MononokiNF-Regular.woff2") format("woff2");
  font-display: swap;
}

$font-family: (
  "primary": (
    "Cantarell",
    sans-serif,
  ),
  "secondary": (
    "Mononoki",
    monospace,
  ),
);

$font-weight: (
  "regular": 400,
  "emphasis": 500,
  "bold": 700,
  "bolder": 900,
);

$font-size: (
  "small": 0.75rem,
  "regular": 1rem,
  "large": 1.25rem,
  "big": 1.75rem,
  "huge": 2.25rem,
);

$clr-primary: (
  "bg-dark": hsl(231, 15%, 18%),
  "bg": hsl(232, 14%, 31%),
  "fg": hsl(60, 30%, 96%),
  "fg-dark": hsl(225, 27%, 51%),
);

$clr-accent: (
  "cyan": hsl(191, 97%, 77%),
  "green": hsl(135, 94%, 65%),
  "orange": hsl(31, 100%, 71%),
  "pink": hsl(326, 100%, 71%),
  "purple": hsl(265, 89%, 78%),
  "red": hsl(0, 100%, 67%),
  "yellow": hsl(65, 92%, 76%),
);
