@use "../abstracts" as *;

html {
  scroll-behavior: smooth;
  scroll-padding-top: $header-height;
}

body {
  background: map-get($clr-primary, "bg");
  color: map-get($clr-primary, "fg");
}

main {
  min-height: calc(100vh - $footer-height);
}

section {
  display: grid;
  justify-content: center;
  justify-items: center;
}

ol {
  @include limit-width;
  margin-inline-start: $edge-padding;
  margin-block: 1rem;
}

:where(li + li) {
  margin-block-start: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
}
