@use '../abstracts' as *;

p {
    font-family: map-get($font-family, 'primary');
    font-size: get-font-size('regular');

    @include media-size('>small') {
        font-size: get-font-size('regular', 1.1);
    }
}

h1 {
    font-size: map-get($font-size, 'huge');

    @include media-size('>medium') {
        font-size: get-font-size('huge', 1.2);
    }
}

h2 {
    font-size: map-get($font-size, 'big');

    @include media-size('>medium') {
        font-size: get-font-size('big', 1.2);
    }
}

h3 {
    font-size: map-get($font-size, 'large');
    
    @include media-size('>medium') {
        font-size: get-font-size('large', 1.2);
    }
}
