<!-- Linking CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gardevoir" />
<link rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css') }}" />
<!-- HTMX -->
<script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
<!-- FAVICON -->
<link rel="icon"
      href="{{ url_for('static', filename='resources/icons/icon.png') }}" />
