<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="author" content="Theodor Blom" />
<meta name="keywords"
      content="Hobbyist, Blog, Programming, Python, Flask, Web Development, Music, Design" />
<meta name="description"
      content="The personal website of Theodor Blom. A hobbyist programmer, music producer and graphical designer blogging about these topics. Come and explore with me!" />
