@use "../abstracts" as *;

:not(pre) > code {
  padding: 0.1rem 0.3rem;
  background-color: map-get($map: $clr-primary, $key: "bg-dark");
  border-radius: 4px;
  font-size: get-font-size("regular");
}

.codehilite {
  overflow: overlay;
  margin-block: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;

  & code {
    font-size: get-font-size("regular");
  }
}
