.sticky + main {
    padding-top: 7em;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 3vh 0 3vh 0;
}

textarea {
  min-width: 40vw;
  min-height: 30vh;
}

input[type=text] {
  width: 100%;
}

input[type=submit] {
  background: var(--clr-accent-purple);
  width: 100%;
  padding: 2vh;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.blog-post {
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  grid-template-areas: 
    "title"
    "meta"
    "content";
}

p#post-date {
  text-align: center;
  color: var(--clr-accent-purple);
  font-size: 12px;
}

p#content {
  max-width: 650px;
}

@media (max-width: calc(650px/0.8)) {
  p#content {
    max-width: 80vw;
  }
}
