/* Intro Section */

.intro {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 0 auto;
  grid-template-areas:
    "img"
    "social-list"
    "tagline";
  grid-template-rows: min-content max-content max-content;
}

.intro__img {
  grid-area: img;
  max-width: 200px;
  border-radius: 50%;
  box-shadow: var(--bs);
}

.social-list {
  grid-area: social-list;
  display: flex;
  color: var(--clr-accent-cyan);
  list-style: none;
  margin: 2em 0 0;
  padding: 0;
  font-size: var(--fs-h3);
}

.social-list__item {
  margin: 0 0.2em;
}

.social-list__link {
  padding: 0.5em;
}

.social-list__link:hover {
  opacity: 0.7;
}

.intro__tagline {
  grid-area: tagline;
  color: var(--clr-accent-purple);
  font-family: var(--ff-secondary);
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-grid {
  width: 1100px;
  display: grid;
  gap: 0.5rem;
  grid-template-areas:
    "form form form"
    "graph graph hits"
    "graph graph unique"
    "paths paths paths";
}

.stats-grid > * {
  display: flex;
  justify-content: center;
}

#dateinput {
  grid-area: form;
  display: flex;
}

#dateinput > * {
  margin: 0.3rem;
}

#hits {
  grid-area: hits;
}

#unique {
  grid-area: unique;
}

#chart {
  grid-area: graph;
}

#paths {
  grid-area: paths;
}

.stats-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  background-color: var(--clr-accent-purple);
}

.stats-box .label {
  font-size: 25px;
  margin: 15px;
}

.stats-box .number {
  font-size: 50px;
  margin: 15px;
}

.paths-table {
  width: 100%;
  border-bottom: 2px solid var(--clr-bgdark);
  border-collapse: collapse;
}

th,
td {
  padding: 0.1rem 0.2rem;
  text-align: left;
  border-bottom: 1px solid var(--clr-bgdark);
}

thead tr th {
  border-bottom: 2px solid var(--clr-bgdark);
}

@media (max-width: calc(1100px / 0.8)) {
  #dateinput {
    flex-direction: column;
  }

  .stats-grid {
    width: 80vw;
    grid-template-areas:
      "form form"
      "hits unique"
      "graph graph"
      "paths paths";
  }
}
