{% extends "base/base.html.jinja" %}
{% block title %}
  - Blog
{% endblock title %}
{% block content %}
  <main role="main">
    <section>
      <h1>Create blogpost</h1>
      <form class="blog-form" method="post">
        <input type="text"
               id="title"
               name="title"
               value="{{ blogpost.title }}"
               placeholder="Title"
               onfocus="this.placeholder=''" />
        <input type="text"
               id="tags"
               name="tags"
               value="{{ blogpost.tags }}"
               placeholder="Tags (comma separated)"
               onfocus="this.placeholder=''" />
        <textarea id="content" name="content" placeholder="What's on your mind?" onfocus="this.placeholder=''">
{{ blogpost.content }}</textarea>
        <label for="published">
          Publish?
          <input
            type="checkbox"
            name="published"
            value="True"
            {%
            if
            blogpost.published
            %}checked="checked"
            {%
            endif
            %}
            />
          </label>
          <input type="submit" id="create-post" value="Submit" />
        </form>
      </section>
      <section>
        <h2>Drafts</h2>
        {% include "components/_blogpost-cards.html.jinja" %}
      </section>
    </main>
  {% endblock content %}
