* {
    margin: 0;
    padding: 0;
}

.header-content {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
}

.topnav-home {
    position: relative;
}

.topnav-home a {
    display: inline-block;
    padding: 12px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

.topnav {
    position: relative;
    display: inline-block; 
}

.topnav a {
    display: inline-block;
    padding: 12px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

.navdrop-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.navdrop-content a {
  display: block;
  color: white;
  padding: 12px 16px;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
}

.navdrop-show {display:block;}

.socials-btn {
    padding-right: 45px;
}

.socials-btn a.fa {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    opacity: 0.7;
}

.socials-btn a.fa:hover {
    opacity: 1;
}

.main-content {
   min-height: calc(100vh - 100px); /* 100 px = header + footer height */ 
   padding: 10px;
}

.timer-btn {
    margin: 30px 0 30px 0;
    padding: 20px 40px 20px 40px;
    font-size: 18px;
}

.footer-content {
    position: fixed;
    width: 100%;
    height: 50px;
    margin: 2px auto 0 auto;
}
