<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Theodor Blom" />
    <meta
      name="keywords"
      content="Hobbyist, Blog, Programming, Python, Flask, Web Development, Music, Design"
    />
    <meta
      name="description"
      content="The personal website of Theodor Blom. A hobbyist programmer, music producer and graphical designer blogging about these topics. Come and explore with me!"
    />
    <title>Theodor Blom {% block title %}{% endblock %}</title>
    <!-- Reseting browser css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gardevoir" />
    <!-- Importing Fontawesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Importing my own css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/style.css')}}"
    />
    {% block additional_css %}{% endblock %}
    <!-- FONTS -->
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/cantarell-v16"
      type="text/css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="https://fontlibrary.org//face/mononoki"
      type="text/css"
    />
  </head>

  <body>
    <header class="header" id="sticky-header">
      <div class="logo">
        <a href="/">
          <h1 id="typeit">Theodor Blom</h1>
        </a>
      </div>
      <button class="nav-toggle" aria-label="toggle navigation">
        <span class="hamburger"></span>
      </button>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="/" class="nav__link">Home</a>
            <br />
            <a href="/blog" class="nav__link">Blog</a>
            {% if user.is_authenticated %}
            <br />
            <span class="nav__link">---</span>
            <br />
            <a href="/blog/editor" class="nav__link">Blog editor</a>
            <br />
            <a href="/stats" class="nav__link">Stats</a>
            <br />
            <a href="/auth/create-user" class="nav__link">Create user</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=True) %} {% if
    messages %} {% for category, message in messages %}
    <label>
      <input type="checkbox" class="alertCheckbox" autocomplete="off" />
      <div class="alert alert-{{ category }}" role="alert">
        <span class="alert__text">{{ message }}</span>
        <span class="alert__close">X</span>
      </div>
    </label>
    {% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}
    <footer class="footer">
      <div id="made-with">
        <p>
          Made with
          <i class="fab fa-python"></i>
          | Found an error?
          <a href="https://github.com/Theeoi/theodorblom.com"
            >Submit an issue!
            <i class="fab fa-github"></i>
          </a>
        </p>
      </div>
      <div id="copyright">
        <p>
          <i class="far fa-copyright" aria-hidden="true"></i>
          2024
          <a href="mailto:me@theodorblom.com">Theodor Blom</a> |
          <a
            rel="license"
            href="https://www.apache.org/licenses/LICENSE-2.0.html"
            >Apache 2.0</a
          >
        </p>
      </div>
      <div id="login">
        <p>
          {% if user.is_authenticated %}
          <a href="/auth/logout">Logout</a>
          {% else %}
          <a href="/auth/login">Login</a>
          {% endif %}
        </p>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="https://unpkg.com/typeit@8.2.0/dist/index.umd.js"></script>
    <script>
      new TypeIt("#typeit", {
        speed: 250,
        waitUntilVisible: true,
      }).go();
    </script>
    {% block additional_js %}{% endblock %}
  </body>
</html>
