<!DOCTYPE hmtl>
{% extends "base.html" %}
{% block title %}- Blog{% endblock %}
{% block additional_css %}
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='css/blog.css')}}"/>
{% endblock %}
{% block content %}
    <div class="formContainer">
        <h2 class="section__title">Create blogpost</h2>
        <form class="blog-form" method="post">
            <input type="text"
                   id="title"
                   name="title"
                   value="{{ blogpost.title }}"
                   placeholder="Title"
                   onfocus="this.placeholder=''"/>
            <input type="text"
                   id="tags"
                   name="tags"
                   value="{{ blogpost.tags }}"
                   placeholder="Tags (comma separated)"
                   onfocus="this.placeholder=''"/>
            <textarea id="content"
                      name="content"
                      placeholder="What's on your mind?"
                      onfocus="this.placeholder=''">{{ blogpost.content }}</textarea>
            <input type="submit" id="create-post" value="Submit"/>
        </form>
    </div>
{% endblock %}
