<!DOCTYPE hmtl>
{% extends "base.html" %}
{% block title %}- Blog{% endblock %}
{% block additional_css %}
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='css/blog.css')}}"/>
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='css/codehilite.css')}}"/>
{% endblock %}
{% block content %}
    <main role="main">
        <article class="blog-post">
            <header>
                <h2>{{ blogpost.title }}</h2>
                <p id="tags">
                    {% for tag in blogpost.tags.split(",") %}
                        <em>{{ tag }}</em>
                    {% endfor %}
                </p>
                <p id="post-date">Posted: {{ blogpost.date_created }}</p>
            </header>
            <span id="content">{{ blogpost.content |safe }}</span>
        </article>
    </main>
    {% if user.is_authenticated %}
        <div class="admin-dropdown">
            <button type="button" class="btn-dropdown">
                <strong>V</strong>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="/blog/delete/{{ blogpost.id }}" class="dropdown-item">Delete</a>
                    <a href="/blog/editor/{{ blogpost.id }}" class="dropdown-item">Edit</a>
                </li>
            </ul>
        </div>
    {% endif %}
{% endblock %}
{% block additional_js %}<script src="{{ url_for('static', filename='js/blog.js') }}"></script>{% endblock %}
