<!DOCTYPE hmtl>
{% extends "base.html" %}
{% block title %}- Blog{% endblock %}
{% block additional_css %}
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='css/blog.css')}}"/>
{% endblock %}
{% block content %}
    <main role="main">
        <article class="blog-post">
            <header>
                <h2>{{ blogpost.title }}</h2>
                <p id="post-date">Posted: {{ blogpost.date_created }}</p>
            </header>
            <p id="content">{{ blogpost.content }}</p>
        </article>
    </main>
{% endblock %}
