<!DOCTYPE hmtl>
{% extends "base.html" %} {% block title %}- Auth{% endblock %} {% block
additional_css %} {% endblock %} {% block content %}
<main class="formContainer">
  <h2 class="section__title">Login</h2>
  <form class="auth-form" method="post">
    <input
      type="text"
      id="username"
      name="username"
      placeholder="Username"
      onfocus="this.placeholder=''"
    />
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Password"
      onfocus="this.placeholder=''"
    />
    <input type="submit" id="login" value="Submit" />
  </form>
</main>
{% endblock %}
