{% macro user_cards() %}
    {% for user in users[::] %}
        <div class="user-card">
            <h3>{{ user.username }}</h3>
            <p class="metainfo">Created: {{ user.date_created.date() }}</p>
            <div id="user-options">
                <button id="change-passwd"
                        class="fa-button"
                        hx-patch="{{ url_for("auth.change_pwd_form", user_id=user.id) }}"
                        hx-target="closest .user-card"
                        hx-swap="beforeend">
                    <i class="fa-solid fa-key"></i>
                </button>
                <button id="delete-user"
                        class="fa-button"
                        hx-delete="{{ url_for("auth.delete_user", user_id=user.id) }}"
                        hx-confirm="Are you sure you want to delete user '{{ user.username }}'?"
                        hx-target="body">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>
        </div>
    {% endfor %}
{% endmacro %}
