{% macro user_cards() %}
    {% for user in users[::] %}
        <div class="user-card">
            <div class="user-info">
                <h3>{{ user.username }}</h3>
                <p class="metainfo">Created: {{ user.date_created.date() }}</p>
            </div>
            <div class="user-options">
                <button class="fa-button"
                        hx-patch="{{ url_for("auth.change_pwd_form", user_id=user.id) }}"
                        hx-target="closest .user-card"
                        hx-swap="beforeend">
                    <i class="fa-solid fa-key"></i>
                </button>
                <button class="fa-button"
                        hx-delete="{{ url_for("auth.delete_user", user_id=user.id) }}"
                        hx-confirm="Are you sure you want to delete user '{{ user.username }}'?"
                        hx-target="body">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </div>
        </div>
    {% endfor %}
{% endmacro %}
{% set user_id = 0 %} ## temporarily setting user_id = 0 to allow block when importing
{% block change_pwd_form %}
    <div class="change-pwd">
        <button class="fa-button" hx-get="" hx-target="closest .change-pwd" hx-swap="delete">
            <i class="fa-solid fa-x"></i>
        </button>
        <form class="auth-form" action="{{ url_for("auth.change_user_pwd", user_id=user_id) }}"
              method="post">
            <input type="password"
                   id="old_password"
                   name="old_password"
                   placeholder="Current password"
                   onfocus="this.placeholder=''"
                   onblur="this.placeholder='Current password'">
            <input type="password"
                   id="new_password1"
                   name="new_password1"
                   placeholder="New password"
                   onfocus="this.placeholder=''"
                   onblur="this.placeholder='New password'">
            <input type="password"
                   id="new_password2"
                   name="new_password2"
                   placeholder="Repeat new password"
                   onfocus="this.placeholder=''"
                   onblur="this.placeholder='Repeat new password'">
            <input type="submit" id="change-pwd" value="Change password" \>
        </form>
    </div>
{% endblock change_pwd_form %}
