<!DOCTYPE html>
<hmtl lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>T.Blom {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">

    <!-- FONTS -->
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/cantarell-v16" type="text/css" />
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/mononoki" type="text/css" />

  </head>

  <body>
    <header class="header" id="sticky-header">
      <div class="logo">
        <a href="#home">
          <h2 id="typeit"></h2>
        </a>
      </div>

      <button class="nav-toggle" aria-label="toggle navigation">
        <span class="hamburger"></span>
      </button>

      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
        </ul>
      </nav>

    </header>

    {% block content %}{% endblock %}

    <footer class="footer">
      <div class="footer__copyright">
        <i class="far fa-copyright" aria-hidden="true"></i>
        <span>2022</span>
        <span><a href="mailto:me@theodorblom.com">Theodor Blom</a></span> |
        <span><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">CC BY-NC 4.0</a></span>
    </footer>

    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
    <script src="https://unpkg.com/typeit@8.2.0/dist/index.umd.js"></script>

    <script>
      new TypeIt("#typeit", {
        strings: "Theodor Blom",
        speed: 250,
        waitUntilVisible: true,
      }).go();
    </script>
  </body>

  </html>
