@use '../abstracts' as *;

footer {
    @include GridWideColumn;
    gap: 0.5rem 1rem;
    padding-inline: $edge-padding;
    min-height: $footer-height;
    text-align: center;
    color: map-get($clr-accent, 'purple');

    p {
        font-size: get-font-size('regular');

        @include media-size('<small') {
            font-size: get-font-size('regular', 0.9);
        }
    }

    a:hover {
        color: map-get($clr-accent, 'green');
        text-decoration: underline;
    }

    @include media-size('<medium') {
        grid-auto-flow: row;
        justify-content: center;
        padding-bottom: 1rem;
    }
}
