@use "../abstracts" as *;

header {
  position: fixed;
  z-index: 990;
  top: 0;
  width: 100%;
  @include GridWideColumn;
  height: $header-height;
  padding-inline: $edge-padding;
  background-color: transparent;

  & img {
    max-height: calc($header-height * 0.6);
  }
}
