{% extends "base/base.html.jinja" %}
{% block title %}
  - Auth
{% endblock title %}
{% block content %}
  <main>
    <section>
      <h1>Login</h1>
      <form class="auth-form" method="post">
        <input type="text"
               id="username"
               name="username"
               placeholder="Username"
               onfocus="this.placeholder=''" />
        <input type="password"
               id="password"
               name="password"
               placeholder="Password"
               onfocus="this.placeholder=''" />
        <input type="submit" id="login" value="Submit" />
      </form>
    </section>
  </main>
{% endblock content %}
